@import "@/styles/_vars";

.masonry_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 800px;
  margin-bottom: 20px;
  @media (min-width: $size-desktop-device) {
    display: block;
    column-count: 2;
    margin-top: 20px;
    width: 100%;
  }
}
