@import "@/styles/_vars";

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card_container {
  @include load-animation;
  border-radius: 12.5px;
  background-color: $color-bg;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 200px;
  max-width: 400px;
  margin-top: 20px;
  overflow: hidden;

  &__loading {
    @include loading-animation;
    background-color: $color-elevation;
  }

  @media (min-width: $size-desktop-device) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.card_img {
  width: 100%;
}

.card_actions {
  display: flex;
  position: absolute;
  top: 0;
  right: 12px;
}

.photobutton_container {
  @include center;
  @include element_transparent;
  margin: 0 -2px;

  &:hover {
    background-color: $color-bg-hover-elevation;
  }
  
  @at-root
  #{&}__save#{&}__active,
  #{&}__like#{&}__active {
    .photobutton_bg {
      background-color: $color-txt;
    }
    .photobutton_icon svg {
      fill: $color-bg;
      stroke: none;
    }
  }
}

.photobutton_bg {
  @include center;
  background-color: $color-elevation;
  border-radius: 9.5px;
  height: 24px;
  width: 44px;
}

.photobutton_icon {
  position: absolute;
  border-radius: 50px;

  &, & svg {
    height: 16px;
    width: 16px;
  }

  &__active {
    background-color: $color-txt;
  }

  & svg {
    fill: $color-elevation;
    stroke: $color-txt;
  }
}
