@import "@/styles/_vars";

.card_container {
  border-radius: 12.5px;
  background-color: $color-bg;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  overflow: hidden;

  @media (min-width: $size-desktop-device) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.card_img {
  width: 100%;
}

.card_actions {
  display: flex;
  position: absolute;
  top: 0;
  right: 12px;
}

.photobutton_container {
  @include center;
  @include element_transparent;
  margin: 0 -2px;

  &:hover {
    background-color: $color-bg-hover-elevation;
  }
  
  @at-root #{&}__save#{&}__active {
    background-color: blue;
  }

  @at-root #{&}__like#{&}__active {
    background-color: red;
  }
}

.photobutton_bg {
  @include center;
  background-color: $color-elevation;
  border-radius: 9.5px;
  height: 24px;
  width: 44px;
}

.photobutton_icon {
  position: absolute;
  background: $color-txt;
  border-radius: 50px;
  height: 14px;
  width: 14px;
}
